html {
  background-color: rgb(77, 81, 102);
}

.title {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: larger;
  color: black;
  background-color:rgb(130, 159, 187);
  border-radius: 5px;
  padding: 5px;
}

.recipes {
  list-style: none;
  text-align: center;
}

.recipes li {
  margin: 50px;
}

img {
  display: block;
  width: 40%;
  margin: auto;
}