html {
  background-color: rgb(77, 81, 102);
}

.title {
  background-color: cadetblue;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: larger;
  color: black;
  background-color:rgb(130, 159, 187);
  border-radius: 5px;
  padding: 5px;
}

.recipes {
  list-style: none;
  text-align: center;
}

.recipes li {
  margin: 50px;
}

img {
  display: block;
  width: 40%;
  margin: auto;
}

hr {
  border: none;
  border-top: 5px dashed darkgrey;
}

div {
  background-color: rgb(218, 196, 139);
  padding: 30px;
  border-radius: 30px;
}

.description h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  background-color: coral;
  border-end-end-radius: 100px;
  border-start-start-radius: 100px;
  border-style: dashed solid solid dashed;
}

.description p {
  font-size: large;
  text-align: center;
  margin: 0;
  background-color: rgb(255, 155, 118);
  padding: 10px 50px;
  border-end-start-radius: 100px;
  border-start-end-radius: 100px;
  border-style: solid solid dashed dashed;
}

h2,
h3 {
  margin: 0;
  background-color: coral;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-style: dashed solid solid dashed;
  border-width: 6px;
}

.ingredients ul {
  background-color: rgb(255, 155, 118);
  padding: 20px 20px;
  border-radius: 30px;
  border: 3px dashed black;
}

.ingredients ul li {
  margin: 10px;
}